@{
    ViewData["Title"] = "About Us";
}

<br>
<br>
<div class="about_container">
    <div class="about_background_img">
        <img src="~/images/aboutpage_background.jpg" style="width:910px; border-radius:10px; border:2px solid white;"/>
    </div>
    <br>
    <h1>Welcome to Elysian Motors</h1>
    <h3><em>The Universe's home for luxuoius vehicles of any kind</em></h3>
    <br>
    <br>
    <p>
        Started in 2019 by a software engineer whose love for supercars is only slightly less than his love for software engineering and his father, Elysian Motors offers a diverse line of supercars and luxury vehicles for sale.
    </p>
    <br>
    <p>
        From classic American muscle cars, to the most modern luxury sedans, to even intergalatic spaceships, Elysian Motors is your "one-stop-shop" to fulfill your dreams or to find a new home for your current vehicle.
    </p>
    <br>
    <p>
        Thank you for visiting our Downtown Miami Showroom and for giving us the opportunity to aid you in your search of the vehicle that is <em>just right</em> for you!
    </p>
    <br>
    <p>
        Please feel free to browse through this propreietary purchasing application and platform to see which vehicles are currently available for purchase or create a listing for your vehicle to start our selling process.
    </p>
    <br>
</div>
