/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
    border-radius: 2px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.about_container
{
    height: 650px;
    position: relative;
    border-radius: 25px;
    z-index: 1;

    /* background-image: url("../images/aboutpagebackground2.jpg"); */
    /* background-image: url("../images/aboutpagebackground.jpg"); */
    
    /* -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    /* animation: mymove 5s infinite; */


    /* @-webkit-keyframes mymove {
        from {background: url("/Users/gmanallen/repos/collabera_jump_personal_project/ElysianMotors/wwwroot/images/aboutpagebackground.jpg");
            ;}
        to {background: url("/Users/gmanallen/repos/collabera_jump_personal_project/ElysianMotors/wwwroot/images/aboutpagebackground2.jpg");}
    } */

    /* @keyframes mymove {
        from {background: url("/Users/gmanallen/repos/collabera_jump_personal_project/ElysianMotors/wwwroot/images/aboutpagebackground.jpg");}
        to {background: url("/Users/gmanallen/repos/collabera_jump_personal_project/ElysianMotors/wwwroot/images/aboutpagebackground2.jpg");}
    } */
}

.about_container h1 {
    text-align: center;
    text-decoration-line: underline;
    font-size: 40px;

}

.about_container h3 {
    text-align: center;
}

.about_container p {
    margin-left: 15px;
    font-size: 20px;
}

.about_container .about_background_img{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: url("../images/aboutpagebackground2.jpg") center center; */
    opacity: .2;
}

.header h1
{
    text-align: center;
    text-decoration-line: underline;
}

.header h3
{
    text-align: center;
}


.vehicledetail-container h1
{
    text-align: center;
    text-decoration-line: underline;
}

.vehicledetail-container h3
{
    text-decoration-line: underline;
}

.vehicledetail-container h4
{
    font-style: italic;
}

.vehicledetail-container img 
{
    width: 680px;
    height: 435px;
    margin-left: 12.5%;
    margin-right: 50%;
    margin-top: 1%;
    position: fixed;
    border-radius: 10px;
}

.vehicledetail-container button{
    width: 150px;
    margin-left: 40%;
    margin-right: 50%;
    font-size: medium;
}

.table thead tr th
{
    font-size: 18px;
    text-align: center;
    vertical-align: baseline;
    
}




.table tbody tr td
{
    font-size: 16px;
    border: 2px solid white;
    text-align: center;
    vertical-align: baseline;
    
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media screen and (max-width: 1500px) {

    .vehicledetail-container img 
    {
        position: sticky;
        margin-bottom: 2%;

    }
    .vehicledetail-container h3
    {
        text-decoration-line: underline;
        margin-left: 40%;
        margin-right: 25%;
        display: table-cell;
    }
    .vehicledetail-container h4
    {
        font-style: italic;
        margin-left: 40%;
        margin-right: 25%;
        display: table-cell;
    }
}
